.App {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 50px;
}

button {
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  margin: 10px;
  outline: none;
  min-width: 200px;
  min-height: 75px;
  white-space: nowrap;
}

div {
  height: 100%;
}

.default-button-border {
  border-style: solid;
  border-color: #afafaf;
  border-width: 2px;
  border-radius: 5px;
}

.blue-button-border {
    border-style: solid;
    border-color: #6699ff;;
    border-width: 2px;
    border-radius: 5px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.w-100 {
    width: 100%;
}

.slate-rounded-border {
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: slategray;
}

.flex-basis-100 {
    flex-basis: 100%;
}

@media only screen and (min-width: 768px) {
    .main-content-browser {
        display: block;
    }

    .main-content-mobile {
        display: none;
    }

    .main-content-wrapper {
        max-width: 66%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .main-content-browser {
        display: none;
    }

    .main-content-mobile {
        display: block;
    }

    .main-content-wrapper {
        max-width: 85%;
    }
}
