.NavBar {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: slategray;
    margin: 0;
}
.side {
    display: inline-block;
    width: 50%;
}

.right-align {
    text-align: right;
}

.nav-a,
.nav-input {
    display: inline-block;
    color: white;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
}

.nav-input {
    cursor: pointer;
    background-color: slategray;
    border: none;
    font-size: 1em;
    margin: 0;
}

.nav-form {
    display: inline-block;
}

.nav-a:hover,
.nav-input:hover,
.menu-a:hover,
.menu-option-a:hover {
    background-color: lightgray;
    color: slategray;
}

.nav-a.active,
.nav-input:active,
.menu-a.active,
.menu-option-a.active {
    background-color: #6699ff;
    color: white;
}

.nav-mobile {
    display: none;
    position: relative;
    height: 3em;
}

.menu-dropdown {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 3em;
    left: 0;
    background-color: slategray;
    z-index: 10; /* react-select appears over it for some reason without this */
}

/*options in the menu dropdown*/
.menu-option-a {
    display: block;
    color: white;
    padding: 1em;
    text-align: center;
    text-decoration: none;
}

/*menu button*/
.menu-a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    height: 3em;
    width: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*.menu-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
}*/

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .nav-browser {
        display: none;
    }

    .nav-mobile {
        display: block;
    }
}
