.SpotifySearch {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
}

#root {
  padding: 0 3em 3em;
}

button {
  font-size: 15px;
  padding: 10px;
  border-style: solid;
  background-color: white;
  border-color: #afafaf;
  border-width: 2px;
  border-radius: 5px;
  margin: 10px;
  outline: none;
}

select {
  font-size: 16px;
}

#location-select {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#new-search-button {
  font-size: 15px;
}

.unselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}

.scroll-vertical {
  overflow: auto;
}

.block {
  display: block;
}

.center-child {
  text-align: center;
}

.react-list-select {
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  border-style: solid;
  border-color: #79b9ff;
  border-width: 2px;
  min-width: 60vw;
  outline: none;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #3498db; /* Blue */
  border-radius: 50%;
  margin: auto;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.react-list-select--item {
  padding: 0.3em 0.6em;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-list-select--item.is-selected {
  -webkit-user-select: inherit;
  -moz-user-select: inherit;
  -ms-user-select: inherit;
  -o-user-select: inherit;
  user-select: inherit;
}

.react-list-select--item.is-disabled {
  cursor: default;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Add some style to the list */

.react-list-select {
  background: #fafafa;
  margin-right: 0.5em;
}
.react-list-select--item.is-selected {
  background: #d7e7ff;
}
.react-list-select:hover .react-list-select--item.is-focused::before,
.react-list-select:hover .react-list-select--item.is-focused::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #79b9ff;
}
.react-list-select:hover .react-list-select--item.is-focused::before {
  left: 0;
}
.react-list-select:hover .react-list-select--item.is-focused::after {
  right: 0;
}
.react-list-select--item.is-disabled {
  color: #afafaf;
}

.context-menu .react-list-select {
  padding: 0.3em 0;
}
.context-menu .react-list-select--item {
  font-size: 0.8125em;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  #root {
    font-size: 16px;
  }
  .react-list-select {
    width: 80vw;
  }
}
