@import "SpotifySearch.css";

.VenueSearch {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
}

button {
  font-size: 15px;
  padding: 10px;
  border-style: solid;
  background-color: white;
  border-color: #afafaf;
  border-width: 2px;
  border-radius: 5px;
  margin: 10px;
  outline: none;
}

.textbox {
  min-width: 150;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  border-style: solid;
  border-color: #afafaf;
  outline: none;
}